.videoPlayerSection {
  background-color: color-mix(
    in srgb,
    var(--background) 90%,
    var(--foreground) 10%
  );
}

.videoPlayer {
  width: 100%;
  height: auto; /* Allow video to maintain its aspect ratio */
  display: block; /* Remove extra space below video */
}
